/* HEADER
----------*/
header {
  background: #2c3e50;
}

/* ABOUT ME / PROFILE
----------------------*/
.profile {
  background: #8e44ad;
}

/* MATIERES
-------------------*/
.matieres {
  background: #2980b9;
}

/* hobbies
----------*/
.hobbies {
  background: #27ae60;
}

/* EDUCATION
-------------*/
.education {
  background: #16a085;
}

/* CONTACT & FOOTER 
--------------------*/
.contact {
  background: #c0392b;
}
